* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: 50px 50px 0px 50px;
}
nav img {
  height: 40px;
  margin-left: 20px;
}
nav ul {
  display: flex;
}
nav ul li {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  list-style: none;
  padding-left: 45px;
  color: hsl(243, 87%, 12%);
  cursor: pointer;
}
.section2 {
  display: flex;
  justify-content: space-between;
  margin: 150px 50px 0px 70px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.section2 .sec21 h1 {
  color: hsl(243, 87%, 12%);
  line-height: 50px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}
.section2 .sec21 p {
  color: hsl(243, 87%, 12%);
  margin-top: 30px;
}
.section2 .sec21 .email input {
  width: 230px;
  padding: 8px 15px;
  margin-top: 30px;
}
.section2 .sec21 .email button {
  width: 160px;
  padding: 10px 15px;
  margin-top: 30px;
  margin-left: 10px;
  background-color: hsl(224, 93%, 58%);
  color: hsl(240, 75%, 98%);
  border: none;
  border-radius: 3px;
  cursor: pointer;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.section2 .sec21 .email button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}
.sec22 img {
  height: 500px;
  margin-top: -100px;
  margin-right: 100px;
  width: 700px;
}
.section3 {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 700px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: hsl(240, 75%, 98%);
}
.all3 {
  margin: 80px 50px 0px 70px;
}
.section3 .sec31 h1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}
.section3 .sec31 h1,
.section3 .sec31 p {
  color: hsl(243, 87%, 12%);
}
.section3 .sec31 {
  margin-top: 20px;
}
.section3 .sec31 p {
  margin-top: 20px;
}
.sec32 img {
  height: 500px;
}
.sec311 {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 22px;
}
.sec311 span {
  color: hsl(170, 45%, 43%);
}
.sec311 img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 3px;
}
hr {
  width: 170px;
  margin-top: 3px;
  height: 1px;
  background-color: hsl(170, 45%, 43%);
  border: none;
}
.sec312 {
  background-color: white;
  width: 450px;
  height: 250px;
  margin-top: 30px;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 3px 3px 20px 1px;
}
.sec312 .img1 {
  width: 20px;
  height: 20px;
}
.sec312 p {
  color: hsl(243, 87%, 12%);
}
.pic {
  display: flex;
  margin-top: 15px;
}
.sec312 .img2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
}
.sec312 h3 {
  font-size: 16px;
  margin-top: 5px;
  margin-left: 8px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.sec312 .pic p {
  margin-top: 2px;
  font-size: 14px;
  color: hsl(238, 22%, 44%);
  margin-left: 8px;
}
.sec32 img {
  height: 500px;
  margin-top: 100px;
  margin-right: 100px;
  width: 700px;
}
.section4 {
  background-color: hsl(238, 22%, 44%);
  display: flex;
  justify-content: space-between;
  color: hsl(240, 75%, 98%);
  height: 250px;
}
.section4 .sec41 {
  margin: 70px 50px 0px 70px;
}
.section4 .sec41 h3 {
  font-size: 26px;
  margin-top: 5px;
  margin-left: 8px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.section4 .sec41 p {
  font-size: 14px;
  margin-top: 15px;
  margin-left: 8px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.section4 .sec42 {
  display: flex;
  flex-direction: column;
  margin: 70px 50px 0px 70px;
}
.section4 .sec42 input {
  width: 400px;
  padding: 10px 15px;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.section4 .sec42 button {
  width: 160px;
  padding: 10px 15px;
  margin-top: 15px;
  background-color: hsl(224, 93%, 58%);
  color: hsl(240, 75%, 98%);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.section4 .sec42 .flex button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}
.section5 {
  background-color: hsl(243, 87%, 12%);
  color: hsl(240, 75%, 98%);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.primary {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 50px 0px 0px 70px;
}
.section5 .sec51 img {
  height: 40px;
  margin: 50px 0px 0px 70px;
}
.sec521,
.sec522 {
  display: flex;
  gap: 12px;
}
.sec521 {
  margin: -20px 0px 20px 0px;
}
.sec521 img,
.sec522 img {
  height: 15px;
  margin-top: 4px;
}
.sec53 ul li,
.sec54 ul li {
  list-style: none;
  margin-top: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}
.sec53 ul,
.sec54 ul {
  margin-top: -50px;
}

#submit:hover,
#submit2:hover {
  background-color: hsl(224, 100%, 72%);
}
.pp:hover {
  color: hsl(170, 50%, 53%);
  cursor: pointer;
}
ul li:hover {
  color: hsl(239, 43%, 45%);
}
.handle1 {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  display: block;
}

/* ///////////////////responsive///////////////////// */

@media (max-width: 600px) {
    /*section 1*/
  nav img {
    top: 0;
    width: 85px;
    margin : 0px;
    margin-left: -20px;
    height: 35px;
  }
  nav ul li {
    right: 0;
    padding-left: 20px;
    font-size: 14px;
  }
  /*section 2*/
  .section2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section2 .sec21 h1 {
  line-height: 40px;
  font-size: 29px;
}
.section2 .sec21 p {
  margin-top: 30px;
  font-size: 14px;
}
.section2 .sec21 .email input {
  width: 330px;
}
.section2 .sec21 .email button {
  width: 330px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  margin-left: 0;
}
.section2 .sec21 .email button:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}
.sec22 img {
  height: auto;
  display: block;
  margin: 0px 0px;
  margin-bottom: 70px;
  width: 350px;
}
/*section 3*/
.section3 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height:auto;
}
.all3 {
  margin: 0px 0px 0px 0px;
}
.section3 .sec31{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section3 .sec31 h1 {
  font-size: 25px;
  text-align: center;
  margin: 0;
  margin-top: 50px;
}

.section3 .sec31 {
  margin-top: 0px;
}
.section3 .sec31 p {
  margin-top: 30px;
  opacity: .7;
  font-size: 13px;
}
.sec32 img {
  height: auto;
  width: 100vw;
}
.sec311 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 22px;
}

.sec311 img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-top: 3px;
}
hr {
    display: flex;
  width: 170px;
  margin-top: 3px;
  height: 1px;
  background-color: hsl(170, 45%, 43%);
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.sec312 {
  width: 400px;
  height: 250px;
  margin-top: 30px;
  padding: 30px 40px;
  border-radius: 5px;
  box-shadow: 3px 3px 20px 1px;
  margin-bottom: 60px;
}
.sec312 .img1 {
  width: 20px;
  height: 20px;
}
.pic {
  display: flex;
  margin-top: 15px;
}
.sec312 .img2 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 5px;
}
.sec312 h3 {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 8px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.sec312 .pic p {
  margin-top: 2px;
  font-size: 11px;
  color: hsl(238, 22%, 44%);
  margin-left: 8px;
}
.sec32 img {
  height: 300px;
  margin-top: 50px;
  margin-right: 0px;
  width: 400px;
}
/*/////////section 4/////////*/
.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  }
.section4 .sec41 {
  display: flex;
  flex-direction: column;
  margin: 70px 0px 0px 0px;
}
.section4 .sec41 h3 {
  text-align: center; 
  font-size: 26px;
  margin-top: 5px;
}
.section4 .sec41 p {
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  
}
.section4 .sec42 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 0px 0px;
}
.section4 .sec42 input {
  width:300px;
  padding: 10px 15px;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;

}
.section4 .sec42 button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 50px;
  margin-left: 0px;
}
/*section 5*/
.section5 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.primary {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 85%;
  margin: 50px 0px 0px 70px;
}
.section5 .sec51 img {
  height: 40px;
  margin: 50px 0px 0px 70px;
}
.sec521,
.sec522 {
  display: flex;
  gap: 12px;
}
.sec521 {
  margin: -20px 0px 20px 0px;
}
.sec521 img,
.sec522 img {
  height: 15px;
  margin-top: 4px;
}
.sec53 ul li,
.sec54 ul li {
  list-style: none;
  margin-top: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}
.sec53 ul,
.sec54 ul {
  margin-top: 40px;
  margin-bottom: 60px;
}

.handle1 {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.handle2 {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px;
}
}
